<div class="mx-auto max-w-7xl px-24 py-12">
    <div data-controller="board" data-board-lists-url="<%= board_lists_path(@board)%>" data-list-positions-api-url="<%= api_board_list_positions_path(@board)%>" data-api-url="<%= api_board_lists_path(@board) %>" class="mx-auto max-w-4xl" id="board" style="overflow-x: scroll;">
    </div>
</div>

